@font-face {
    font-family: "sukhumvitreg";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/sukhumvitreg-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sukhumvitreg-webfont.woff") format("woff"),
    url("../fonts/sukhumvitreg-webfont.ttf") format("truetype"),
    url("../fonts/sukhumvitreg-webfont.svg#sukhumvitreg") format("svg");
}