body {
    font-family: 'noto_sans_thairegular', 'noto_sansregular';
    font-size: 14px;
    background-color: #333;
}

#footer_bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #eee;
    z-index: 200;
}

#mainPage {
}
.nav-pills>li>a{
    color:#eb4e25;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #eb4e25;
}

.nav>li>a:hover{
    color: #a1381d !important;
}
#contentPage {
    min-height: 400px;
}
#contentPage > .row  {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    background: #fff;
    margin-top: -4px;
    margin-right: -30px;
}

#markUp {
    display: none;
}
#main_content {
    padding-bottom: 100px;
}
.select_delete, .select_cover{
    display: none;
    padding: 0 !important;
    cursor: pointer;
}
.image_overlay_box_unselected{
    background-color: rgba(0, 0, 0, 0.5);
}
.image_overlay_box_selected{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #4CA34C;
}
.image_overlay_box_selected,.image_overlay_box_unselected{
    left: 20px;
    position: absolute;
    text-align: center;
    top: 13px;
    width: 116px;
}
.select_img_c input{
    padding: 0 !important;
}
.select_img_c span{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 2px 0;
    width: 100%;
}
#wait_loading{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 10000;
    display: none;
    text-align: center;
}
.data_view{
    color: dodgerblue;
}
.data_view2{
     color: forestgreen;
 }
.data_view3{
    color: red;
}