@font-face {
    font-family: 'noto_sans_thairegular';
    src: url('notosansthai-regular-webfont.eot');
    src: url('notosansthai-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('notosansthai-regular-webfont.woff2') format('woff2'),
         url('notosansthai-regular-webfont.woff') format('woff'),
         url('notosansthai-regular-webfont.ttf') format('truetype'),
         url('notosansthai-regular-webfont.svg#noto_sans_thairegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansregular';
    src: url('notosans-regular-webfont.eot');
    src: url('notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('notosans-regular-webfont.woff2') format('woff2'),
    url('notosans-regular-webfont.woff') format('woff'),
    url('notosans-regular-webfont.ttf') format('truetype'),
    url('notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}