@font-face {
    font-family: "sukhumvitreg";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/sukhumvitreg-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/sukhumvitreg-webfont.woff") format("woff"), url("./fonts/sukhumvitreg-webfont.ttf") format("truetype"), url("./fonts/sukhumvitreg-webfont.svg#sukhumvitreg") format("svg");
}

body {
    font-family: "sukhumvitreg", sans-serif;
    background: url("/assets/images/Background.jpg") fixed no-repeat center top;
    background-size: cover;

}